*{
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
    background: none;
}

:root{
    --color-neutral-black: #263238;
    --color-neutral-dGrey: #4D4D4D;
    --color-neutral-grey: #717171;
    --color-neutral-lGrey: #89939E;
    --color-neutral-greyBlue: #ABBED1;
    --color-neutral-silver: #F5F7FA;
    --color-neutral-white: #FFFFFF;

    --color-primary: #4CAF4F;
    --color-secondary: #263238;
    --color-info: #2194f3;

    --color-shade1: #66BB69; 
    --color-shade2: #81C784; 
    --color-shade3: #A5D6A7; 
    --color-shade4: #C8E6C9; 
    --color-shade5: #E8F5E9; 

    --color-shade1: #66BB69; 
    --color-shade2: #81C784; 
    --color-shade3: #A5D6A7; 
    --color-shade4: #C8E6C9; 
    --color-shade5: #E8F5E9;
    
    --action-warning: #FBC02D;
    --action-error: #E53835;
    --action-success: #2E7D31;

    --font: "Inter", sans-serif;
}

body{
    font-family: var(--font);
}
